* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background-color: #edf2f5;
  color: #52504f;
  font-family: "Open Sans", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
}



@media (max-width: 800px) {
  main {
    flex-direction: column;
    align-items: center !important
  }

  h1 {
    font-size: 30px !important;
  }

  section,
  #navigation {
    width: 95% !important;
  }


  #form {
    order: 1;
  }

  #navigation {
    order: 2;
    margin: 0 !important;
  }

  .navigation-btn {
    justify-content: space-between !important;
  }


  #charts {
    order: 3
  }

  header {
    margin: 30px 0 !important;
  }

  .heading-steps {
    font-size: 18px !important;
  }

  .heading-steps span {
    font-size: 18px !important;
  }
}

header {
  display: flex;
  text-align: center;
  margin: 60px 0;
  justify-content: center;
  align-items: center;
}

header span {
  font-size: 45px;
}

section {
  flex: 1;
  margin: 5px;
  width: 50%;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

button {
  width: 40px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  margin-left: 10px;
  padding: 0 10px;
  float: right;
}

button.prime-btn {
  font-weight: 300;
  font-size: 25px;
  background: #49c1a2;
  width: 100%;
  margin: 0;
  padding: 15px;
  opacity: 0.9;
  border: 2px solid lightgray;
  border-radius: 10px;
  color: white;
  text-shadow: 0px 0px 6px #00000096;
  box-shadow: -3px 0px 8px 0 rgb(0 0 0 / 0%), 0px 0px 9px 0 rgba(0, 0, 0, 0.19);
}

.prime-btn:hover {
  opacity: 1;
}

.prime-btn:disabled {
  opacity: 0.5;
}


.section {
  padding: 20px;
  background-color: white;
  border: 1px lightgray solid;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: -3px 0px 8px 0 rgb(0 0 0 / 0%), 0px 0px 9px 0 rgba(0, 0, 0, 0.19);

}

.slide {
  display: none;
  text-align: center;
}

.active {
  display: block;
}

h1 {
  font-weight: 300;
  font-size: 50px;
  margin-left: 10px;
  display: inline;
}

h2 {
  display: inline-block;
  font-weight: 200;
  font-size: 30px;
}

p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.8;
}

div.collapse {
  float: right;
  font-size: 30px;
  padding: 0 10px;
  opacity: 0.8;
}

div.collapse:hover {
  opacity: 1;
}

#myChart {
  height: 80% !important;
  width: 80% !important;
}

.sticky {
  position: sticky;
  top: 0;
}


input {
  min-width: 83%;
  padding-left: 5px;
  background-color: #edf2f569;
  border: 1px lightgray solid;
  border-radius: 3px;
  line-height: 2.5rem;
  color: #5b5a5a;
}

input:focus {
  outline: none !important;
  border-color: #49c1a2;
  box-shadow: 0 0 5px #49c1a2;
}

input::placeholder {
  font-size: 16px;
  opacity: 0.5;
}

.inputs-group {
  transition: opacity linear 1s, width linear 1s;
}

.input-set {
  text-align: left;
}

#your-income {
  width: 100%;
}

.add-new-item {
  width: 83%;
}

label {
  display: block;
  margin: 20px 0 5px;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
}

label:last-of-type {
  font-weight: 300;
  font-size: 18px;
}

button.add-btm,
button.remove-btm {
  display: block;
  float: right;
  padding-top: 0.2rem;
}

button.add-btm {
  color: #49c1a2;
}

button.remove-btm {
  color: #ce7171;
}

button.add-btm:hover,
button.remove-btm:hover {
  opacity: 1;
}

.error-container {
  color: red;
  font-size: 12px;
  margin-top: 7px;
}

canvas {
  margin: auto;
}

.hide {
  display: none;
}

#navigation {
  width: 100%;
  margin: 0 18rem;
}

.navigation-btn {
  justify-content: space-between;
  display: flex;
}

.navigation-btn button {
  max-width: 200px;
  margin: 0 0 20px;
  flex: 1;
}

#progress-bar {
  width: 0%;
  height: 25px;
  background-color: #49c1a2;
  margin-bottom: 20px;
  border-radius: 10em;
}

.progress-bar-container {
  background: white;
  border-radius: 10em;
}

.validation-error {
  outline: none !important;
  border-color: hsl(0, 49%, 63%);
  box-shadow: 0 0 3px #ce7171;
}

.slide svg {
  width: 5rem;
  display: block;
  margin: auto;
  fill: #52504f;
}

header svg {
  width: 3rem;
  fill: #49c1a2;
}

.heading-steps {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 10px;
  font-style: italic;
}

.heading-steps span {
  font-weight: 300;
  font-size: 24px;
}

#expenses-breakpoints {
  margin-top: 10px;
  line-height: 1.8em;
}

#total-expenses {
  line-height: 1.8em;

}

.data-container {
  width: 100%;
}

.data-container div {
  font-size: 14px;
  font-style: italic;
}

div[data-name] {
  width: 280px;
  font-size: 16px;
}